.showImg .show {
  width: 100vw;
  height: 30vh;
}

.showImg .img{
  height: 100%;
  width: 100%;
}

.showImg .bigImg{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.showImg .bigImg .img1 {
  position: relative;
  top: 20vh;
  z-index: 100;
  width: 100%;
  
}

.swiper-slide{
  text-align: left;
}
.show-title{
  font-size: 1.5rem;
}

.show-auther{
  font-size: .8rem;
  color: #929292;
}