.show {
  width: 100vw;
  height: 40vh;
}

.img{
  height: 100%;
  width: 100%;
}

.bigImg{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.bigImg .img1 {
  position: relative;
  top: 35vh;
  z-index: 100;
  width: 100%;
  
}