.essayInform{
  position: absolute;
  bottom: 20px;
  width: 100vw;
  height: 15vh;
  
}
.essayInform-base{
  margin: 0 auto;
  display: grid;
  width: 100%;
  height: 50%;
  grid-template-columns: repeat(4,0.5fr);
  text-align: center;
  margin-top: 10%;

}

.essayInform-all{
  margin: 0 auto;
  width: 90%;
  height: 90%;
  background: #eaeaea;
  display: grid;
  grid-template-columns: repeat(4,0.5fr);
  border-radius: 10px;
  text-align: center;
  display: none;
  
}
.essayInform-push{
  height: 100%;
  grid-column: 4;
  grid-row: 1/3;
  justify-items: center;
  align-items: center;
  padding-top: 30%;
}

.essayInform-push img{
  width: 2rem;
  height: 2rem;
  
}

.essayInform-nav{
  width: 100%;
  height: 100%;
}

.essayInform-nav img{
  width: 2rem;
  height: 2rem;
}
